<div class="container py-4">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <!-- Carte 1 -->
      <div class="col">
        <div class="card bg-body-secondary text-white shadow-sm" style="width: 16rem; height: auto;">
          <div class="card-body">
            <div class="d-flex justify-content-center align-items-center position-relative" style="height: 100px;">
              <div 
                class="rounded-circle bg-info position-absolute"
                style="width: 55px; height: 55px; left: 45%; top: 50%; transform: translate(-50%, -50%);">
              </div>
              <div 
                class="rounded-circle bg-white position-absolute d-flex justify-content-center align-items-center"
                style="width: 55px; height: 55px; left: 55%; top: 50%; transform: translate(-50%, -50%);">
                <span class="text-dark" style="font-size: 20px; font-weight: bold;"> 
                    34
                </span>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <p class="card-text text-dark">Liste 6eme</p>
          </div>
        </div>
      </div>
      <!-- Carte 2 -->
      <div class="col">
        <div class="card bg-body-secondary text-white shadow-sm" style="width: 16rem; height: auto;">
          <div class="card-body">
            <div class="d-flex justify-content-center align-items-center position-relative" style="height: 100px;">
              <div 
                class="rounded-circle bg-info position-absolute"
                style="width: 55px; height: 55px; left: 45%; top: 50%; transform: translate(-50%, -50%);">
              </div>
              <div 
                class="rounded-circle bg-white position-absolute d-flex justify-content-center align-items-center"
                style="width: 55px; height: 55px; left: 55%; top: 50%; transform: translate(-50%, -50%);">
                <span class="text-dark" style="font-size: 20px; font-weight: bold;"> 
                    34
                </span>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <p class="card-text text-dark">Liste 5eme</p>
          </div>
        </div>
      </div>
      <!-- Carte 3 -->
      <div class="col">
        <div class="card bg-body-secondary text-white shadow-sm" style="width: 16rem; height: auto;">
          <div class="card-body">
            <div class="d-flex justify-content-center align-items-center position-relative" style="height: 100px;">
              <div 
                class="rounded-circle bg-info position-absolute"
                style="width: 55px; height: 55px; left: 45%; top: 50%; transform: translate(-50%, -50%);">
              </div>
              <div 
                class="rounded-circle bg-white position-absolute d-flex justify-content-center align-items-center"
                style="width: 55px; height: 55px; left: 55%; top: 50%; transform: translate(-50%, -50%);">
                <span class="text-dark" style="font-size: 20px; font-weight: bold;"> 
                    34
                </span>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <p class="card-text text-dark">Liste 4eme</p>
          </div>
        </div>
      </div>
      <!-- Carte 4 -->
      <div class="col">
        <div class="card bg-body-secondary text-white shadow-sm" style="width: 16rem; height: auto;">
          <div class="card-body">
            <div class="d-flex justify-content-center align-items-center position-relative" style="height: 100px;">
              <div 
                class="rounded-circle bg-info position-absolute"
                style="width: 55px; height: 55px; left: 45%; top: 50%; transform: translate(-50%, -50%);">
              </div>
              <div 
                class="rounded-circle bg-white position-absolute d-flex justify-content-center align-items-center"
                style="width: 55px; height: 55px; left: 55%; top: 50%; transform: translate(-50%, -50%);">
                <span class="text-dark" style="font-size: 20px; font-weight: bold;"> 
                    34
                </span>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <p class="card-text text-dark">Liste 4eme</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  