<div class="container text-center">

    <!-- Conteneur des cartes -->
    <div class="d-flex flex-wrap justify-content-center py-2">
      <label class="card bg-white text-white d-flex align-items-center justify-content-center rounded-circle" style="width: 50px; height: 50px; cursor: pointer;">
        
        
      </label>
</div>
</div>
{% comment %} 
<div class="container-fluid">
    <div class="row bg-white text-black text-center rounded d-flex justify-content-between">
        <div class="col-md-12 col-2 py-2">
            <h6 class="fw-medium font-monospace">08h: 00 </h6>
        </div>
        <div class="col-md-12 col-2 py-2">
            <h6 class="fw-medium font-monospace">10h: 00 </h6>
        </div>
    </div>

    <div class="col-md-12">
        <hr class="border border-dark border-0 justify-content-end">
    </div>

    <div class="row bg-white text-black text-center rounded d-flex justify-content-between">
        <div class="col-md-12 py-3">
            <h6 class="fw-medium font-monospace">10h: 00 </h6>
        </div>
        <div class="col-md-12 py-2">
            <h6 class="fw-medium font-monospace">12h: 00 </h6>
        </div>
    </div>
    <div class="col-md-12">
        <hr class="border border-dark border-0 justify-content-end">
            <span class="text-center text-white"> après </span>
        <hr class="border border-dark border-0 justify-content-end">
    </div>

    <div class="row bg-white text-black text-center rounded d-flex flex-column justify-content-between py-1">
        <!-- Contenu en haut -->
        <div class="col-12 py-2">
            <h6 class="fw-medium font-monospace">15h: 00</h6>
        </div>

        <div class="col-12 py-2">
            <h6 class="fw-light font-monospace text-end">17h: 00</h6>
        </div>
        
    
        <!-- Ligne horizontale -->
        <div class="col-12">
            <hr class="border border-dark border-0 justify-content-end">
        </div>
     </div>

    <div class="row bg-white text-black text-center rounded d-flex flex-column justify-content-between py-2">
        <!-- Contenu en haut -->
        <div class="col-12 py-2">
            <h6 class="fw-medium font-monospace">17h: 00</h6>
        </div>

        <div class="col-12 py-2">
            <h6 class="fw-light font-monospace text-end">19h: 00</h6>
        </div>
        
    
        <!-- Ligne horizontale -->
        <div class="col-12">
            <hr class="border border-dark border-0 justify-content-end">
        </div>
    </div>
    
</div> {% endcomment %}


<div class="container-fluid">
     <!-- En-tête -->
     <div class="row bg-white text-black text-center rounded">
        <div class="col-md-12 col-2">
            <h6 class="fw-bold">heure</h6>
        </div>

        <div class="col-md-12">
            <hr class="border border-dark border-1 justify-content-end">
        </div>

    </div>

    <!-- Bloc des heures -->
    {% comment %} <div class="row bg-white text-black text-center rounded d-flex flex-wrap py-2">
        <div class="col-6 col-sm-4 col-lg-3 py-2">
            <h6 class="fw-medium font-monospace">08h: 00</h6>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 py-2">
            <h6 class="fw-medium font-monospace">10h: 00</h6>
        </div>
        <div class="col-12">
            <hr class="border border-dark border-0">
        </div>
    </div> {% endcomment %}

    <div class="row bg-white text-black text-center rounded d-flex justify-content-between">
        <div class="col-12 col-sm-12 col-lg-12 py-2">
            <h6 class="fw-medium font-monospace">08h: 00 </h6>
        </div>
        <div class="col-12 col-sm-12 col-lg-12 py-2">
            <h6 class="fw-medium font-monospace">10h: 00 </h6>
        </div>
    </div>
    <div class="col-12">
        <hr class="border border-dark border-0 justify-content-end">
    </div>

    {% comment %} <div class="row bg-white text-black text-center rounded d-flex flex-wrap py-2">
        <div class="col-12 col-sm-12 col-lg-12 py-1">
            <h6 class="fw-medium font-monospace">10h: 00</h6>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 py-1">
            <h6 class="fw-medium font-monospace">12h: 00</h6>
        </div> {% endcomment %}

        <div class="row bg-white text-black text-center rounded d-flex justify-content-between">
            <div class="col-12 col-sm-12 col-lg-12 py-2">
                <h6 class="fw-medium font-monospace">10h: 00 </h6>
            </div>
            <div class="col-12 col-sm-12 col-lg-12 py-2">
                <h6 class="fw-medium font-monospace">12h: 00 </h6>
            </div>
        </div>
    <div class="row bg-white text-black text-center rounded d-flex justify-content-between">
        <div class="col-12 col-sm-12 col-lg-12 py-3">
            <hr class="border border-dark border-0">
            <span class="text-center text-black d-block"> /</span>
            <hr class="border border-dark border-0">
        </div>
    </div>

    <div class="row bg-white text-black text-center rounded d-flex justify-content-between">
        <div class="col-12 col-sm-12 col-lg-12 py-2">
            <h6 class="fw-medium font-monospace">15h: 00</h6>
        </div>
        <div class="col-12 col-sm-12 col-lg-12 py-2">
            <h6 class="fw-light font-monospace">17h: 00</h6>
        </div>
        <div class="col-12">
            <hr class="border border-dark border-0">
        </div>
    </div>

    <div class="row bg-white text-black text-center rounded d-flex justify-content-between">
        <div class="col-12 col-sm-12 col-lg-12 py-2">
            <h6 class="fw-medium font-monospace">17h: 00</h6>
        </div>
        <div class="col-12 col-sm-12 col-lg-12 py-2">
            <h6 class="fw-light font-monospace">19h: 00</h6>
        </div>
        <div class="col-12 col-sm-12 col-lg-12 py-2">
            <hr class="border border-dark border-0">
        </div>
    </div>
</div>
